<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zzw</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>




<div style="width: 600px;height:  600px; position: relative;top: 200px;left: 490px">
    <form class="layui-form" action="" >
        <div class="layui-form-item" style="text-align: center">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" required  lay-verify="userName" placeholder="请输用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密&nbsp&nbsp&nbsp&nbsp码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>
<script src="../static/layui/layui.js"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
           $.ajax({
               url:'./login',
               method:'post',
               data:data.field,
               dataType:'JSON',
               success:function(res){
                   if(res.code='0'){
                       parent.closeIframe(res.msg);
                   }
                   else
                       alert(res.msg);
               },
               error:function (data) {

               }           
           })
            return false;
        });

        form.verify({
            userName: function (value) {
                if ("" == value){
                    return '用户名不能为空';
                }
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }
            }

            ,password: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        })
    });
</script>

</body>
</html>