<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.manager.dao.BaseProjectNodeMapper">
    <resultMap id="BaseResultMap" type="com.project.manager.pojo.BaseProjectNode">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="project_manager_id" jdbcType="INTEGER" property="projectManagerId" />
        <result column="project_node_name" jdbcType="VARCHAR" property="projectNodeName" />
        <result column="project_node_finish" jdbcType="VARCHAR" property="projectNodeFinish" />
        <result column="project_node_attachment" jdbcType="VARCHAR" property="nodeAttachment" />
        <result column="expiration_time" jdbcType="VARCHAR" property="expirationTime" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>

    <sql id="baseColumn">
    id,project_name,project_id,project_manager_id,project_node_finish,
    project_node_attachment,expiration_time,project_node_name,create_time
  </sql>

    <select id="getProjectNodeById" resultMap="BaseResultMap">
        SELECT <include refid="baseColumn"/>
        FROM base_project_node
        WHERE id = #{id}
    </select>
    <update id="updateProjectNode">
        UPDATE base_project_node
        <set>
            <if test="projectName != null">
                project_name = #{projectName},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="projectNodeName != null">
                project_node_name = #{projectNodeName},
            </if>
            <if test="projectNodeFinish != null">
                project_node_finish = #{projectNodeFinish},
            </if>
            <if test="nodeAttachment != null">
                project_node_attachment = #{nodeAttachment},
            </if>
            <if test="projectManagerId != null">
                project_manager_id = #{projectManagerId},
            </if>
            <if test="expirationTime != null">
                expiration_time = #{expirationTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getProjectNodeList" resultType="com.project.manager.dto.BaseProjectNodeInfoDTO">
        SELECT id as id,project_name as projectName,project_id projectId,project_node_finish projectNodeFinish,
        (SELECT user_name FROM base_project_user as r WHERE r.id = project_manager_id) AS projectManagerName,project_node_attachment nodeAttachment,expiration_time expirationTime,
        project_node_name projectNodeName,create_time createTime
        FROM base_project_node
        <where>
            <if test="s_projectName != null and s_projectName != ''">
               and project_name = #{s_projectName}
            </if>
            <if test="s_expirationTime != null and s_expirationTime != '' ">
                and expiration_time &lt;  #{s_expirationTime}
            </if>
        </where>
    </select>

    <delete id="deleteProjectNode">
        delete from base_project_node WHERE id = #{id}
    </delete>

    <delete id="deleteNodeByProjectId">
        delete from base_project_node WHERE project_id = #{projectId}
    </delete>
</mapper>