<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.manager.dao.BaseProjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.project.manager.pojo.BaseProjectInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_source" jdbcType="VARCHAR" property="projectSource" />
    <result column="project_budget_amount" jdbcType="NUMERIC" property="projectBudgetAmount" />
    <result column="project_account_amount" jdbcType="NUMERIC" property="projectAccountAmount" />
    <result column="project_manager_id" jdbcType="INTEGER" property="projectManagerId" />
    <result column="technical_report" jdbcType="VARCHAR" property="technicalReport" />
    <result column="final_report" jdbcType="VARCHAR" property="finalReport" />
    <result column="node_count" jdbcType="INTEGER" property="nodeCount" />
    <result column="project_researchers" jdbcType="VARCHAR" property="projectResearchers" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="expiration_time" jdbcType="VARCHAR" property="expirationTime" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="if_finish" jdbcType="VARCHAR" property="finish" />
    <result column="project_report" jdbcType="VARCHAR" property="projectReport" />

  </resultMap>

  <sql id="baseColumn">
    id,project_name,project_source,project_budget_amount,project_account_amount,project_manager_id,
    technical_report,final_report,node_count,start_time,create_time,expiration_time,if_finish,project_researchers,project_report
  </sql>


  <update id="updateProject">
    UPDATE base_project_info
    <set>
      <if test="projectName != null">
        project_name = #{projectName},
      </if>
      <if test="projectSource != null">
        project_source = #{projectSource},
      </if>
      <if test="projectBudgetAmount != null">
        project_budget_amount = #{projectBudgetAmount},
      </if>
      <if test="projectAccountAmount != null">
        project_account_amount = #{projectAccountAmount},
      </if>
      <if test="projectManagerId != null">
        project_manager_id = #{projectManagerId},
      </if>
      <if test="projectResearchers != null">
        project_researchers = #{projectResearchers},
      </if>
      <if test="startTime != null">
        start_time = #{startTime},
      </if>
      <if test="expirationTime != null">
        expiration_time = #{expirationTime},
      </if>
      <if test="finish != null">
        if_finish = #{finish},
      </if>
      <if test="nodeCount != null">
        node_count = #{nodeCount},
      </if>
      <if test="finalReport != null">
        final_report = #{finalReport},
      </if>
      <if test="technicalReport != null">
        technical_report = #{technicalReport},
      </if>
      <if test="projectReport != null">
        project_report = #{projectReport}
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <select id="getProjects" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_project_info
  </select>

  <select id="getProjectByProjectName" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_project_info
    WHERE 1 = 1
    <if test="projectName != null">
      and project_name = #{projectName}
    </if>
    <if test="id != null">
      and id = #{id}
    </if>
  </select>

  <select id="getProjectByUserId" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_project_info
    WHERE project_manager_id = #{userId}
      or project_researchers like CONCAT('%', #{userId}, '%')

  </select>

  <select id="getProjectList" resultType="com.project.manager.dto.BaseProjectInfoDTO">
    SELECT p.id as id, p.project_name AS projectName , p.project_source AS projectSource ,p.project_budget_amount AS projectBudgetAmount ,p.project_account_amount AS projectAccountAmount,
    (SELECT user_name FROM base_project_user as r WHERE r.id = p.project_manager_id) AS projectManagerName,p.node_count AS nodeCount,
    p.project_researchers AS projectResearchers ,p.start_time AS startTime, p.expiration_time AS expirationTime, p.if_finish as finish
    FROM base_project_info as p
    <where>
      <if test="s_projectName != null and s_projectName != '' ">
        and project_name =  #{s_projectName}
      </if>
      <if test="s_expirationTime != null and s_expirationTime != '' ">
        and expiration_time &lt;  #{s_expirationTime}
      </if>
      <if test="s_projectManagerName != null and s_projectManagerName != '' ">
        and project_manager_id = (SELECT id FROM base_project_user WHERE user_name=#{s_projectManagerName})
      </if>
      <if test="s_projectUserName != null and s_projectUserName != '' ">
        and project_researchers like CONCAT('%', (SELECT id FROM base_project_user WHERE user_name=#{s_projectUserName}), '%')
      </if>
    </where>
  </select>

  <delete id="deleteProject">
    delete from base_project_info WHERE id = #{id}
  </delete>

</mapper>